bavarikon/bavarikon-Lieferformat.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- bavarikon-Lieferformat.xsd -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="https://www.bavarikon.de"
  xmlns="https://www.bavarikon.de"
  elementFormDefault="qualified"
  version="1.0.0 | 2022-11-08">
  
<xs:element name="bavarikonDatenlieferung">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Kulturobjekt" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="datenpaket_name" use="required" type="tokenNotEmpty"/>
      <xs:attribute name="export_zeitstempel" use="required" type="xs:dateTime"/>
      <xs:attribute name="schema_version" use="required" type="schemaVersion"/>
    </xs:complexType>
  </xs:element>
  
  <xs:simpleType name="schemaVersion">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="Kulturobjekt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="bav01_bavarikonProjektnummer"/>
        <xs:element ref="bav02_LieferID" />
        <xs:element ref="bav03_AnzeigeID" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="bav04_DatenlieferndeInstitution"/>
        <xs:element ref="bav05_BestandshaltendeInstitution"/>
        <xs:element ref="bav06_BeteiligteInstitution" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="bav07_Titel_Name_Objektbezeichnung"/> 
        <xs:element ref="bav08_Alternativtitel" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="bav09_Beschreibungstext" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="bav10_Objektkategorie" maxOccurs="unbounded"/>
        <xs:element ref="bav11_Schlagwort_Thema" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="bav12_Ereignis" maxOccurs="unbounded"/>
        <xs:element ref="bav13_Sprache" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="bav14_Material" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="bav15_Umfang_Abmessungen_Laufzeit" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="bav16_Bemerkung" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="bav17_RechtedeklarationMetadaten"/>
        <xs:element ref="bav18_RechtedeklarationBeschreibungstext" minOccurs="0"/>
        <xs:element ref="bav19_RechtedeklarationDigitalisat"/>
        <xs:element ref="bav20_Permalink_DigitalesObjekt" minOccurs="0"/>
        <xs:element ref="bav21_Dateinamen_Bilddateien" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="bav01_bavarikonProjektnummer">
    <xs:simpleType>
      <xs:restriction base="xs:positiveInteger">
        <xs:pattern value="[0-9][0-9][0-9][0-9]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
  <xs:element name="bav02_LieferID" type="idTyp"/>
  <xs:element name="bav03_AnzeigeID" type="idTyp"/>
  
  <xs:complexType name="idTyp">
    <xs:simpleContent>
      <xs:extension base="tokenNotEmpty">
        <xs:attribute name="typ" use="required" type="idTypListe"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="idTypListe"> 
    <xs:restriction base="xs:token">
      <xs:enumeration value="Datensatznummer"/>
      <xs:enumeration value="Fotonummer"/>
      <xs:enumeration value="Inventarnummer"/>
      <xs:enumeration value="Katalognummer"/>
      <xs:enumeration value="Normnummer"/>
      <xs:enumeration value="Signatur"/>
      <xs:enumeration value="Zugangsnummer"/>
      <xs:enumeration value="Institutionsunabhängiger Identifikator"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="bav04_DatenlieferndeInstitution" type="tokenNotEmptyHasGndIdNotEmpty"/>
  <xs:element name="bav05_BestandshaltendeInstitution" type="tokenNotEmptyHasGndIdNotEmpty"/>
  <xs:element name="bav06_BeteiligteInstitution" type="tokenNotEmptyHasGndIdNotEmpty"/>
  <xs:element name="bav07_Titel_Name_Objektbezeichnung" type="tokenNotEmpty"/>
  <xs:element name="bav08_Alternativtitel" type="tokenNotEmpty"/>

  <xs:simpleType name="tokenNotEmpty">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="tokenNotEmptyHasGndId">
    <xs:simpleContent>
      <xs:extension base="tokenNotEmpty">
        <xs:attribute name="gnd-id" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="tokenNotEmptyHasGndIdNotEmpty">
    <xs:simpleContent>
      <xs:extension base="tokenNotEmpty">
        <xs:attribute name="gnd-id" use="required" type="tokenNotEmpty" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="bav09_Beschreibungstext">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="deutsch"/>
        <xs:element ref="englisch" minOccurs="0"/>
        <xs:element ref="Autorenangabe" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deutsch" type="tokenNotEmpty"/>
  <xs:element name="englisch" type="tokenNotEmpty"/>
  <xs:element name="Autorenangabe" type="tokenNotEmpty"/>

  <xs:element name="bav10_Objektkategorie" type="kategorieTyp" />

  <xs:simpleType name="kategorieTyp">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Alltagsgegenstand"/>
      <xs:enumeration value="Archäologisches Objekt"/>
      <xs:enumeration value="Archivgut"/>
      <xs:enumeration value="Bauwerk"/>
      <xs:enumeration value="Briefe"/>
      <xs:enumeration value="Buch"/>
      <xs:enumeration value="Druckgraphik"/>
      <xs:enumeration value="Einblattdruck"/>
      <xs:enumeration value="Film"/>
      <xs:enumeration value="Geld"/>
      <xs:enumeration value="Fotografie"/>
      <xs:enumeration value="Handschrift"/>
      <xs:enumeration value="Karte"/>
      <xs:enumeration value="Kleidung und Textilien"/>
      <xs:enumeration value="Kunsthandwerk"/>
      <xs:enumeration value="Malerei"/>
      <xs:enumeration value="Musikalie"/>
      <xs:enumeration value="Modell"/>
      <xs:enumeration value="Mineral"/>
      <xs:enumeration value="Nachlass"/>
      <xs:enumeration value="Planzeichnung"/>
      <xs:enumeration value="Präparat und Fossil"/>
      <xs:enumeration value="Skulptur"/>
      <xs:enumeration value="Technisches Objekt"/>
      <xs:enumeration value="Tondokument"/>
      <xs:enumeration value="Urkunde"/>
      <xs:enumeration value="Waffe"/>
      <xs:enumeration value="Zeichnung"/>
      <xs:enumeration value="Zeremonialobjekt"/>
      <xs:enumeration value="Datensatz"/>
      <xs:enumeration value="Biogramm (Datensatz)"/>
      <xs:enumeration value="Geografikum (Datensatz)"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="bav11_Schlagwort_Thema">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="tokenNotEmpty">
          <xs:attribute name="typ" use="required" type="personOrtSachbegriffTyp"/>
          <xs:attribute name="gnd-id" use="optional" type="tokenNotEmpty"/>
          <xs:attribute name="odb-id" use="optional" type="tokenNotEmpty"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="personOrtSachbegriffTyp"> 
    <xs:restriction base="xs:token">
      <xs:enumeration value="Person"/>
      <xs:enumeration value="Ort"/>
      <xs:enumeration value="Sachbegriff"/>
      <xs:enumeration value="undefined"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="bav12_Ereignis">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="Hauptverantwortlichkeit" maxOccurs="unbounded"/>
          <xs:element ref="Beteiligung" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="Ort" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="Zeit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Beteiligung" maxOccurs="unbounded"/>
          <xs:element ref="Ort" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="Zeit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Ort" maxOccurs="unbounded"/>
          <xs:element ref="Zeit" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="Zeit" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:choice>
      <xs:attribute name="typ" use="required" type="ereignisTyp"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="ereignisTyp">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Entstehung"/>
      <xs:enumeration value="Fund/Ausgrabung"/>
      <xs:enumeration value="Provenienz"/>
      <xs:enumeration value="Geburt"/>
      <xs:enumeration value="Tod"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:element name="Hauptverantwortlichkeit" type="personInstitutionTyp"/>
  <xs:element name="Beteiligung" type="personInstitutionTyp"/>
  
  <xs:complexType name="personInstitutionTyp">
    <xs:simpleContent>
      <xs:extension base="tokenNotEmpty">
        <xs:attribute name="typ" use="required" type="personInstitutionTypListe"/>
        <xs:attribute name="gnd-id" use="optional" type="tokenNotEmpty"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="personInstitutionTypListe">
    <xs:restriction base="xs:token">
      <xs:enumeration value="Person"/>
      <xs:enumeration value="Institution"/>
      <xs:enumeration value="undefined"/>
     </xs:restriction>
  </xs:simpleType>

  <xs:element name="Ort">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="tokenNotEmpty">
          <xs:attribute name="gnd-id" use="optional" type="tokenNotEmpty"/>
          <xs:attribute name="odb-id" use="optional" type="tokenNotEmpty"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Zeit" type="tokenNotEmpty"/>

  <xs:element name="bav13_Sprache" type="tokenNotEmpty"/>
  <xs:element name="bav14_Material" type="tokenNotEmpty"/>
  <xs:element name="bav15_Umfang_Abmessungen_Laufzeit" type="tokenNotEmpty"/>
  <xs:element name="bav16_Bemerkung" type="tokenNotEmpty"/>
  <xs:element name="bav17_RechtedeklarationMetadaten" type="tokenNotEmpty" fixed="CC0"/>
  <xs:element name="bav18_RechtedeklarationBeschreibungstext" type="rechteTyp"/>
  <xs:element name="bav19_RechtedeklarationDigitalisat" type="rechteTyp"/>
  
  <xs:simpleType name="rechteTyp">
    <xs:restriction base="xs:token">
      <xs:enumeration value="CC0"/>
      <xs:enumeration value="PDM"/>
      <xs:enumeration value="CC BY 4.0"/>
      <xs:enumeration value="CC BY-SA 4.0"/>
      <xs:enumeration value="CC BY-ND 4.0"/>
      <xs:enumeration value="CC BY-NC 4.0"/>
      <xs:enumeration value="CC BY-NC-SA 4.0"/>
      <xs:enumeration value="CC BY-NC-ND 4.0"/>
      <xs:enumeration value="NoC-NC"/>
      <xs:enumeration value="NoC-CR"/>
      <xs:enumeration value="NoC-OKLR"/>
      <xs:enumeration value="InC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="bav20_Permalink_DigitalesObjekt" type="tokenNotEmpty"/>
  <xs:element name="bav21_Dateinamen_Bilddateien" type="tokenNotEmpty"/>
</xs:schema>
